
<div th:fragment="header">
<meta charset="UTF-8" />
	<header id="header">
		<!-- Header Gray Band-->
		<section class="wel-t-band">
			<div class="container">
				<div class="row wel-band-bg">
					<div class="col-md-8 pull-left col col-sm-12">
						<p>
							Bienvenue à SMARTCITY</p>
					</div>
					<div class="col-md-4 pull-left col col-sm-12" th:if="${#httpSession.getAttribute('SESSION_USER_ID') != 0 AND  #httpSession.getAttribute('SESSION_USER_ID') !=null}">
						<p th:text="${#httpSession.getAttribute('SESSION_USER_FRISTNAME') +' '+ #httpSession.getAttribute('SESSION_USER_LASTNAME') + ' (' + #httpSession.getAttribute('SESSION_USER_ACCESS') +')'}">
							Bienvenue à SMARTCITY</p>
					</div>
				</div>
			</div>
		</section>
		<!-- Header Gray Band-->
		<!-- Logo Section-->

		<div class="container">
			<div class="row pad-logo logo-wrapper">
				<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 t-logo">
					<a th:href="@{/accueil}"><img src="../../images/header/logo-2.png"
						alt="logo" class="img-responsive"/></a>
				</div>
				<div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 text-right">
					<div class="top-two-right">
						<div class="req-button text-right">
							<a th:href="@{/contact/pagecontact}" class="submit">Contactez-nous</a>
						</div>
						<div class="top-panel">
							<div class="touch_top touch_top_pad">
								<ul class="nav">
									<li class="item item-phone">
										<div class="media">
											<div class="blue-color media-left">
												<a href="#"><i class="icon icon-Phone2"></i></a>
											</div>
											<div class="media-body">
												<p>
													03 88 99 99 99<br/>
													<span><a href="mailto:info@smartcity.com">info@smartcity.com</a></span>
												</p>
											</div>
										</div>
									</li>
									<li class="item item-ad">
										<div class="media">
											<div class="blue-color media-left">
												<a href="#"><i class="icon icon-Pointer"></i></a>
											</div>
											<div class="media-body">
												<p>
													247 Avenue de colmar<br/>
													<span>Strasbourg 67000</span>
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation-->
		<div class="main_menu menu_fixed nav-home-three">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="logo">
							<img src="images/logo-mobile.png" alt=""/>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="nav-menu pull-left text-left">
							<div class="nav-t-holder pull-left text-left">
								<div class="nav-t-header">
									<button>
										<i class="fa fa-bars"></i>
									</button>
								</div>
								<div class="nav-t-footer">
									<ul class="nav">
										<li class="has-t-submenu"><a th:href="@{/accueil}">Accueil</a>
						<!--
                        <ul class="submenu">
                          <li><a href="index-3.html">Home Two</a></li>
                          <li><a href="index-4.html">Home Three</a></li>
                          <li><a href="index-5.html">Home Four</a></li>
                          <li><a href="index-6.html">Home Five</a></li>
                        </ul>
                      --></li>
										<li class="has-t-submenu"><a th:href="@{/about}">A
												propos</a>
											<ul class="submenu">
												<li><a th:href="@{/team}">Notre équipe</a></li>
												<li><a  th:href="@{/temoignages}">Témoignages</a></li>
												<li><a th:href="@{/faq}">Faq</a></li>
											</ul></li>
											
											<li class="has-t-submenu"><a th:href="@{/services}">Nos services</a>
										</li>
											<li class="has-t-submenu" th:if="${#httpSession.getAttribute('SESSION_USER_ID') == 0 OR #httpSession.getAttribute('SESSION_USER_ID') ==null}" ><a th:href="@{/user/signup}">Inscription</a>
										</li>	
										
										<li class="has-t-submenu" th:if="${#httpSession.getAttribute('SESSION_USER_ID') != 0 AND  #httpSession.getAttribute('SESSION_USER_ID') !=null}"><a>Mon espace</a>
											<ul class="submenu">
												<li><a th:href="@{/city/createcity}">Construire une ville</a></li>
												<li><a th:href="@{/city/showcities}">Afficher mes villes</a></li>
												<li><a th:href="@{/plottype/createplotype}">Créer un type de parcelle</a></li>
											</ul></li>
										
										<li class="has-t-submenu" th:if="${#httpSession.getAttribute('SESSION_USER_ID') == 0 OR  #httpSession.getAttribute('SESSION_USER_ID') ==null}"><a th:href="@{/user/login}">Connexion</a>
										</li>
										<li class="has-t-submenu" th:if="${#httpSession.getAttribute('SESSION_USER_ID') != 0 AND  #httpSession.getAttribute('SESSION_USER_ID') !=null}"><a th:href="@{/destroy}">Déconnexion</a>
										</li>
										


										<li><a th:href="@{/contact/pagecontact}">Contactez-nous</a></li>
									</ul>
									<div class="mobile-link">
										<a th:href="@{/contact/pagecontact}" class="submit">Contactez-nous</a>
										<div class="widget-t widget-t-search">
											<div class="widget-t-inner">
												<form action="#" method="get" class="search-form">
													<div class="input-group">
														<input type="search" placeholder="Search"
															class="form-control"/><span
															class="input-group-addon">
															<button type="submit">
																<i class="icon icon-Search"></i>
															</button>
														</span>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="nav-search pull-right text-right">
							<div class="widget-t widget-t-search">
								<div class="widget-t-inner">
									<form action="#" method="get" class="search-form">
										<div class="input-group">
											<input type="search" placeholder="Search"
												class="form-control"/><span class="input-group-addon">
												<button type="submit">
													<i class="icon icon-Search"></i>
												</button>
											</span>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Navigation-->
	</header>

</div>



	